/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Space+Grotesk:wght@400;700&family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Caveat:wght@400;700&family=Cinzel:wght@400;700&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Oswald:wght@400;700&family=Pacifico&family=Playfair+Display:wght@400;700&family=Satisfy&display=swap');

/* General */
html{
    font-family: "Noto sans", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 110%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #0F172A;
}

a{
    text-decoration: none;
    color: black;
}


#arrow_up{
    width: 4%;
    position: fixed;
    right: 0;
    bottom: 30%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#arrow_up img{
    width: 100%;
    margin: 0;
}

/* Formatting */
.bold{font-weight: bold;}
.italic{font-style: italic;}

.highlight{
    color: #0EA5E9;
    font-family: 'Caveat', 'Times New Roman', Times, serif;
    font-size: 140%;
    font-weight: bold;
}

.code{
    background-color: lightgrey;
    width: fit-content;
    margin: 0.5% 0;
    padding: 2%;
    border-radius: 16px;
    white-space: pre;
    font-family: monospace;
}
.highlighted{
    background-color: rgb(251, 251, 140);
    padding: 0.2%;
    border-radius: 4px;
    color: red !important;
}
.small{font-size: 90%;}



/* INDEX.HTML */
/* Header and footer */
#header, #footer{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    box-sizing: border-box;
}
#header{background-color: #0F172A;}

#header a{
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all ease-in-out 0.2s;
}
#header a img{width: 25px;}

#header a:hover {
    background-color: #1b2a4e;
    cursor: pointer;
}

#home{
    margin-right: auto;
    font-size: 150% !important;
    display: flex;
    align-items: center;
    gap: 5px !important;
    padding: 0 1% !important;
    height: 70px;
}

#home img{width: 60px !important;}

#footer{
    color: white;
    align-items: center; 
    padding: 1%;
    font-size: 85%;
    margin-top: 5%;
    background-color: #0F172A;;
}
#footer .highlight{color: white !important;}

#footer a{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about_body div a{
    display: flex;
}

/* Body and gallery */
#body, #big_template_preview, #gallery, #download_box, #about_body, #instructions {padding: 2.5% 7.5%;}
#body > h1, #gallery > h1, #about_body  h1 {margin-bottom: 0.2%;}
#body > p, #gallery > p, #about_body p {margin-top: 0.2%;}

#big_template_preview{
    width: 75%;
    height: auto;
    margin: 10% auto 2.5% auto;
    border: 1px #0f172a solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    overflow: hidden;
}

#images_container{
    width: 75%;
    margin: auto;
    text-align: center;
}

#big_template_preview #images_container img{
    max-width: 100%;
    margin: auto;
}
#download_button_container{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#big_template_preview img.secondary_image{
    display: none;
}


#download_notebook_button{
    background-color: #0EA5E9 !important;
}

.button{
    background-color: #5bae92;
    padding: 0.25% 1% 0.5% 1%;
    border-radius: 16px;
    width: max-content;
}

.button a{
    background: 
    linear-gradient(black),
    linear-gradient(orange);
    background-size: 100% 0;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
}

.button a:hover{
  background-size: 0 0.1em, 100% 0.1em;
}

#template_gallery{
    margin-left: -5%;
    margin-right: -5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4% 1.5%;
}

.template{
    border: 1px #0f172a solid;
    border-radius: 16px;
    align-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 5%;
    height: 100%;
    margin-top: 5%;
}
.template:hover{transform: translateY(-10px);}

.template img{
    margin: auto;
    max-width: 100%;
    border-radius: 16px;
}

.template p{
    text-align: center;
    font-weight: bold;
}

img.second{display: none;}

.click_to_preview{
    background-color: rgba(15, 23, 42, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    top: -16px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions{margin-top: 5%;}
#instructions a {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#instructions a:hover {
    transform: scale(1.01);
    font-weight: bold;
}


/* CONFIGURE.HTML */
/* Configurator box */
#configurator_box{
    display: grid;
    gap: 5% 1%;
    margin-bottom: 15%;
    padding: 2.5% 5%;
    grid-template-rows: auto;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
    "title_description title_description"
    "options preview"
    "create_template_container create_template_container";
}

#title_description{
    grid-area: title_description;
    text-align: center;
}


/* Options (left column) */
#options{
    font-size: 80%;
    grid-area: options;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas:
    "title_options title_options"
    "input_template input_template"
    "font_selection_container font_selection_container"
    "standard_font_size_container main_secondary_text_color_input_container"
    "title_font_multiplier_container title_font_selection_container"
    "subtitle_font_multiplier_container title_subtitle_source_color_input_container"
    "source_font_multiplier_container title_subtitle_source_color_input_container"
    "context_font_multiplier_container context_options"
    "nextstep_font_multiplier_container ns_options"
    "annotation_font_multiplier_container annotation_options"
}

#options h2{
    grid-area: title_options;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

#options>div{
    text-align: center;
    margin: auto;
}
#options > div h4, #options > div label{margin: 1% 0;}

#options input[type = "text"], #options input[type = "number"]{
    border: 0.5px #0f172a solid;
    border-radius: 16px;
    text-align: center;
}
#options input, #options select{cursor: pointer;}
#options input[type = "text"]{padding: 1%;}
#options input[type = "number"]{padding: 2% 1.5%;}

 #options select{
    font-size: 90%;
    border: 2px solid #dddddd;
    background: #eeeeee;
    transition: all 0.4s ease-in-out;
    border-radius: 16px;
}

#options select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}


#input_template{
    grid-area: input_template;
    margin: auto;
    text-align: center;
    width: 100%;
}

#font_selection_container{
    grid-area: font_selection_container;
    margin: auto;
    text-align: center;
}

#standard_font_size_container{grid-area: standard_font_size_container;}
#main_secondary_text_color_input_container{
    grid-area: main_secondary_text_color_input_container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "main_color_input_container secondary_color_input_container text_color_input_container lines_color_input_container";
}
#main_color_input_container{grid-area: main_color_input_container;}
#secondary_color_input_container{grid-area: secondary_color_input_container;}
#text_color_input_container{grid-area: text_color_input_container;}

#title_font_multiplier_container{grid-area: title_font_multiplier_container;}
#title_font_selection_container{grid-area: title_font_selection_container;}
#title_subtitle_source_color_input_container{grid-area: title_subtitle_source_color_input_container;}
#subtitle_font_multiplier_container{grid-area: subtitle_font_multiplier_container;}
#source_font_multiplier_container{grid-area: source_font_multiplier_container;}
#context_font_multiplier_container{grid-area: context_font_multiplier_container;}
#context_options{grid-area: context_options;}
#context_options, #ns_options, #annotation_options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    margin: auto;
}
#ta_background_color_input_container{grid-area: ta_background_color_input_container;}
#ta_border_color_input_container{grid-area: ta_border_color_input_container;}
#nextstep_font_multiplier_container{grid-area: nextstep_font_multiplier_container;}
#ns_options{grid-area: ns_options;}
#annotation_font_multiplier_container{grid-area: annotation_font_multiplier_container;}
#annotation_options{grid-area: annotation_options;}

#text_areas_corner_radius_selection, #ns_areas_corner_radius_selection, #annotation_areas_corner_radius_selection{
    margin: auto;
    width: 60%;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(6, auto);
    grid-template-areas:
    "corner_radius_label corner_radius_label corner_radius_label corner_radius_label corner_radius_label corner_radius_label"
    "context_corner_radius_opt1  context_corner_radius_opt2 context_corner_radius_opt3 context_corner_radius_opt4 context_corner_radius_opt5 context_corner_radius_opt6"
    "border_stroke_label border_stroke_label border_stroke_label border_stroke_label border_stroke_label border_stroke_label"
    "stroke_slider stroke_slider stroke_slider stroke_slider stroke_slider stroke_slider";
    gap: 0.5% 2%;
}
#text_areas_corner_radius_selection div, #ns_areas_corner_radius_selection div, #annotation_areas_corner_radius_selection div{
    height: 25px;
    width: 25px;
    margin: auto;
    transition: background-color 0.2s ease-in-out;
    border-top: 2px black solid;
    border-left: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85%;
    cursor: pointer;
}
.text_areas_corner_radius_selected, .ns_areas_corner_radius_selected, .annotation_areas_corner_radius_selected{background-color: grey;}
#opt1{
    grid-area: context_corner_radius_opt1;
    border-top-left-radius: 40px;
}
#opt2{
    grid-area: context_corner_radius_opt2;
    border-top-left-radius: 32px;
}
#opt3{
    grid-area: context_corner_radius_opt3;
    border-top-left-radius: 24px;
}
#opt4{
    grid-area: context_corner_radius_opt4;
    border-top-left-radius: 16px;
}
#opt5{
    grid-area: context_corner_radius_opt5;
    border-top-left-radius: 8px;
}
#opt6{
    grid-area: context_corner_radius_opt6;
    border-top-left-radius: 0px;
}
#corner_radius_label{grid-area: corner_radius_label; text-align: center; font-weight: bold; margin: 5% 0 1% 0;}
#border_stroke_label{grid-area: border_stroke_label; text-align: center; font-weight: bold; margin: 5% 0 1% 0;}

.stroke_slider{grid-area: stroke_slider; cursor: pointer;}

#lines_color_input_container{grid-area: lines_color_input_container;}


/* Preview */
#preview{
    display: grid;
    grid-area: preview;
    gap: 1% 3%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title_preview title_contrast"
    "main_color_preview main_color_contrast"
    "secondary_color_preview secondary_color_contrast"
    "lines_color_preview lines_color_preview"
    "title_color_preview_container title_color_contrast"
    "tab_color_preview tab_color_contrast"
    "ns_color_preview ns_color_contrast"
    "annotation_color_preview annotation_color_contrast";
}

#preview.no_secondary {
    grid-template-rows: 0.5fr 1fr 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title_preview title_contrast"
    "main_color_preview main_color_contrast"
    "lines_color_preview lines_color_preview"
    "title_color_preview_container title_color_contrast"
    "tab_color_preview tab_color_contrast"
    "ns_color_preview ns_color_contrast"
    "annotation_color_preview annotation_color_contrast";
}

#preview h2{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}
#title_preview{grid-area: title_preview;}
#title_contrast{grid-area: title_contrast;}
#main_color_preview{grid-area: main_color_preview;}
#main_color_contrast{grid-area: main_color_contrast;}
#secondary_color_preview{grid-area: secondary_color_preview;}
#secondary_color_contrast{grid-area: secondary_color_contrast;}
#lines_color_preview{grid-area: lines_color_preview;}
#title_color_preview_container{grid-area: title_color_preview_container; border: 1px black solid;}
#tab_color_contrast{grid-area: tab_color_contrast;}
#tab_color_preview, #ns_color_preview, #annotation_color_preview{
    grid-area: tab_color_preview;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(103 91 91);
    transition: all, 0.2s ease-in-out;
}
#tab_color_contrast{grid-area: tab_color_contrast;}
#ns_color_preview{grid-area: ns_color_preview;}
#ns_color_contrast{grid-area: ns_color_contrast;}
#annotation_color_preview{grid-area: annotation_color_preview;}
#annotation_color_contrast{grid-area: annotation_color_contrast;}

.color_preview{font-size: 12pt;}
.color_preview, .contrast_ratio, #title_color_preview_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 1%;
}
#title_color_preview_container p{
    margin-bottom: 0;
    margin-top: 0;
}

.contrast_ratio{
    background-color: #f2f2f2;
    color: #000;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease;
    font-weight: bold;
}

.contrast_red{background-color: #d62828;}
.contrast_orange{background-color: #f08c00;}
.contrast_green{background-color: #2a9d45;}


#create_template_container{
    border: 1px black solid;
    grid-area: create_template_container;
    width: 15%;
    margin: auto;
    text-align: center;
}


/* Template preview */
#template_preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transform-origin: top center;
    margin: 0;
}
#template_preview *{
    cursor: pointer;
}

#vis.vega-embed { /* Vertically centers the chart */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
#vis .chart-wrapper {flex: 0 0 auto;}
details{display: none;}

/* Download box */
#download_box{
    display: none;
    padding-top: 0 !important;
}
#download_box h3, #instructions h3{
    text-align: center;
    font-size: 150%;
}

#download_template, #download_notebook{ /* Download "button" */
    font-size: 120%;
    transition: color 0.2s ease-in-out;
    width: fit-content;
    margin: 0;
    transition: background-color 0.2s ease-in-out;
}

#download_template:hover, #download_notebook:hover{
    cursor: pointer;
    background-color: orange;
}

#download_box ol li{margin: 2% 0;}
#to_copy2{font-size: 80%;}

li .code {
    display: inline-block;
    vertical-align: middle;
}

li img {
    vertical-align: middle;
    margin-left: 2%;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
li img:hover{
    opacity: 1;
    cursor: copy;
}

.img_green{
    filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(1500%) hue-rotate(80deg) brightness(95%) contrast(110%);   
    opacity: 1;
}



/* ABOUT.HTML */
#about_body div{margin-bottom: 3%;}
#about_body div h3{margin-bottom: 0.5%;}
#about_body div p{margin-top: 0;}