/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Space+Grotesk:wght@400;700&family=Syne:wght@400;700&display=swap');

/* General */
html{
    font-family: "Noto sans", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 110%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #0F172A;
}

a{
    text-decoration: none;
    color: black;
}


#arrow_up{
    width: 4%;
    position: fixed;
    right: 0;
    bottom: 30%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#arrow_up img{
    width: 100%;
    margin: 0;
}

/* Formatting */
.bold{font-weight: bold;}
.italic{font-style: italic;}

.highlight{
    color: #0EA5E9;
    font-family: 'Caveat', 'Times New Roman', Times, serif;
    font-size: 140%;
    font-weight: bold;
}

.code{
    background-color: lightgrey;
    width: fit-content;
    margin: 0.5% 0;
    padding: 2%;
    border-radius: 16px;
    white-space: pre;
    font-family: monospace;
}
.highlighted{
    background-color: rgb(251, 251, 140);
    padding: 0.2%;
    border-radius: 4px;
    color: red !important;
}
.small{font-size: 90%;}



/* INDEX.HTML */
/* Header and footer */
#header, #footer{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    box-sizing: border-box;
}
#header{background-color: #0F172A;}

#header a{
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all ease-in-out 0.2s;
}
#header a img{width: 25px;}

#header a:hover {
    background-color: #1b2a4e;
    cursor: pointer;
}

#home{
    margin-right: auto;
    font-size: 150% !important;
    display: flex;
    align-items: center;
    gap: 5px !important;
    padding: 0 1% !important;
    height: 70px;
}

#home img{width: 60px !important;}

#footer{
    color: white;
    align-items: center; 
    padding: 1%;
    font-size: 85%;
    margin-top: 5%;
    background-color: #0F172A;;
}
#footer .highlight{color: white !important;}

#footer a{
    flex: 1;
    text-align: center;
    color: white;
}

/* Body and gallery */
#body, #gallery, #configurator_box, #download_box, #about_body, #instructions {padding: 2.5% 7.5%;}
#body > h1, #gallery > h1, #about_body  h1 {margin-bottom: 0.2%;}
#body > p, #gallery > p, #about_body p {margin-top: 0.2%;}


.button{
    background-color: #5bae92;
    padding: 0.25% 1% 0.5% 1%;
    border-radius: 16px;
    width: max-content;
}

.button a{
    background: 
    linear-gradient(black),
    linear-gradient(orange);
    background-size: 100% 0;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
}

.button a:hover{
  background-size: 0 0.1em, 100% 0.1em;
}

#template_gallery{
    margin-left: -5%;
    margin-right: -5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10% 1.5%;
}

.template{
    border: 1px #0f172a solid;
    border-radius: 16px;
    align-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 5%;
    height: 100%;
    margin-top: 5%;
}
.template:hover{transform: translateY(-10px);}

.template img{
    width: 100%;
    border-radius: 16px;
}

.template p{
    text-align: center;
    font-weight: bold;
}

img.second{display: none;}

.click_to_download{
    background-color: rgba(15, 23, 42, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    top: -16px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions{margin-top: 5%;}
#instructions a {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

#instructions a:hover {
    transform: scale(1.01);
    font-weight: bold;
}



/* CONFIGURE.HTML */
/* Configurator box */
#configurator_box{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "description description"
    "controls preview"
    "create_template create_template";
}

#configurator_box h1{grid-area: title;}
#description{grid-area: description;}

.controls{
    grid-area: controls;
    text-align: left;
    font-size: 80%;
}

div.input_template{
    display: flex;
    align-items: center;
    border: 1px black solid;
    border-radius: 16px;
    padding: 0.5%;
    width: max-content;
}
.input_template input{
    text-align: right !important;
    border: 0 !important;
    margin-right: 0 !important;
    max-width: 100px;
    width: 100%;
}
.input_template span{color: rgba(0, 0, 0, 0.6);}

div.selection{margin-bottom: 10%;}
.selection input{
    border: 0;
    background-color: transparent;
    vertical-align: middle;
}
.selection input:hover, .selection select:hover{cursor: pointer;}
.selection select, .selection input[type="text"], .selection input[type="number"]{
    border: 1px grey solid;
    border-radius: 16px;
    padding: 0.5% 1%;
    margin: 1.5% 0;
    text-align: center;
}
.selection input[type="number"]{width: min-content; margin-left: 2%;}
.selection p{font-weight: bold; font-size: 110%;}
.selection div{
    align-self: center;
    display: flex;
    align-items: center
}
#multibox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "context_font_multiplier context_corner_radius_selection"
    "nextstep_font_multiplier context_corner_radius_selection";
}
#context_font_multiplier_container{grid-area: context_font_multiplier;}
#nextstep_font_multiplier_container{grid-area: nextstep_font_multiplier;}

#context_corner_radius_selection{
    grid-area: context_corner_radius_selection;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(6, auto);
    grid-template-areas:
    "corner_radius_label corner_radius_label corner_radius_label corner_radius_label corner_radius_label corner_radius_label"
    "context_corner_radius_opt1  context_corner_radius_opt2 context_corner_radius_opt3 context_corner_radius_opt4 context_corner_radius_opt5 context_corner_radius_opt6"
    "border_stroke_label border_stroke_label border_stroke_label border_stroke_label border_stroke_label border_stroke_label"
    "stroke_slider stroke_slider stroke_slider stroke_slider stroke_slider stroke_slider";
    gap: 0.5% 3%;
    max-width: 85%;
}
#context_corner_radius_selection div{
    height: 25px;
    width: 25px;
    margin: auto;
    transition: background-color 0.2s ease-in-out;
    border-top: 2px black solid;
    border-left: 2px black solid;
    display: flex;
    justify-content: center;
    align-self: baseline;
    font-size: 85%;
}
#context_corner_radius_selection div:hover{cursor: pointer;}
.context_corner_radius_selected{background-color: grey;}
#opt1{
    grid-area: context_corner_radius_opt1;
    border-top-left-radius: 40px;
}
#opt2{
    grid-area: context_corner_radius_opt2;
    border-top-left-radius: 32px;
}
#opt3{
    grid-area: context_corner_radius_opt3;
    border-top-left-radius: 24px;
}
#opt4{
    grid-area: context_corner_radius_opt4;
    border-top-left-radius: 16px;
}
#opt5{
    grid-area: context_corner_radius_opt5;
    border-top-left-radius: 8px;
}
#opt6{
    grid-area: context_corner_radius_opt6;
    border-top-left-radius: 0px;
}
#corner_radius_label{grid-area: corner_radius_label; text-align: center; font-weight: bold; margin: 5% 0 1% 0;}
#border_stroke_label{grid-area: border_stroke_label; text-align: center; font-weight: bold; margin: 5% 0 1% 0;}

#stroke_slider{grid-area: stroke_slider;}
#stroke_slider:hover{cursor: pointer;}

#preview {
    grid-area: preview;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2% 4%;
}

#tab_color_preview{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(103 91 91);
    transition: all, 0.2s ease-in-out;} 

.preview_header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.color_preview, .contrast_ratio, #title_color_preview {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 16px;
}

.contrast_ratio{
    background-color: #f2f2f2;
    color: #000;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease;
    font-weight: bold;
}

#title_color_preview{border: 1px black solid;}

.contrast_red{background-color: #d62828;}
.contrast_orange{background-color: #f08c00;}
.contrast_green{background-color: #2a9d45;}

#create_template_container{
    grid-area: create_template;
    margin: 5% auto;
    border: 0.5px black solid;
}

/* Template preview */
#template_preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transform-origin: top center;
    margin: 0;
}
#template_preview *{
    cursor: pointer;
}

#vis.vega-embed { /* Vertically centers the chart */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
#vis .chart-wrapper {flex: 0 0 auto;}
details{display: none;}

/* Download box */
#download_box{
    display: none;
    padding-top: 0 !important;
}
#download_box h3, #instructions h3{
    text-align: center;
    font-size: 150%;
}

#download{ /* Download "button" */
    font-size: 120%;
    transition: color 0.2s ease-in-out;
    width: fit-content;
    margin: 0;
    transition: background-color 0.2s ease-in-out;
}

#download:hover{
    cursor: pointer;
    background-color: orange;
}

#download_box ol li{margin: 2% 0;}
#to_copy2{font-size: 80%;}

li .code {
    display: inline-block;
    vertical-align: middle;
}

li img {
    vertical-align: middle;
    margin-left: 2%;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
li img:hover{
    opacity: 1;
    cursor: copy;
}

.img_green{
    filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(1500%) hue-rotate(80deg) brightness(95%) contrast(110%);   
    opacity: 1;
}



/* ABOUT.HTML */
#about_body div{margin-bottom: 3%;}
#about_body div h3{margin-bottom: 0.5%;}
#about_body div p{margin-top: 0;}
